.customer-review{
    background-color: rgb(49, 49, 49);
}
.customer-review h1{
    color: white;
   font-style: italic;
   
   
}
.customer-review h4{
    color: aliceblue;
    font-style: italic;
   
}
.card-details img{
    border-radius: 50%;
}
